extends layout

block content
  div.grandParentContaniner
    div.parentContainer
      table.center
        thead
          tr
            td Id
            td Dagsetning
            td Nafn
            td Kennitala
            td Netfang
            td Fjöldi
        tbody
          each i in data
            tr
              td= i.id
              td= i.date
              td= i.name
              td= i.ssn
              td= i.email
              td= i.num
      a(href='/admin/download') Sækja
      p
      a(href='/') Forsíða