extends layout

block content
  if errorMessages
    ul
      each i in errorMessages
        li= i
  table
    thead
      tr
        td ID
        td Dagsetning
        td Nafn
        td Kennitala
        td Netfang
        td Fjoldi
    tbody
      each i in bdata
        tr
          td= i.id
          td= i.date
          td= i.name
          td= i.ssn
          td= i.email
          td= i.num
  p
  a(href='/admin/download') Download
  p
  a(href='logout') Utskra

  p
  a(href='../') Forsida
  p
  a(href='logout')